<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
   
  <div fxFlex >
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>
            {{dish.name | uppercase}}
          </h3>
        </md-card-title>
       
      </md-card-header>
      <img md-card-image src="{{dish.image}}" alt="{{dish.name}}"/>
      <md-card-content>
        <p>
          {{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg">
            </span>
        </button>
          <button md-button (click)="goBack()"> BACK</button>
        <button md-button> LIKE </button>
        <button md-button> SHARE </button>

        <button md-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg">
        </span></button>
      </md-card-actions>
    </md-card>

  </div>
  </div>

  <div fxFlex="40" *ngIf="dish">
      <h3>Comments</h3>
      <md-list *ngIf="dish">
        <md-list-item *ngFor="let comment of dish.comments">
          <p md-line>{{comment.comment}}</p>
          <p md-line>{{comment.rating}} Star</p>
          <p md-line>-- {{comment.author}}{{comment.date | date}}</p>
        </md-list-item>

        <md-list *ngIf="commentForm.valid">
            <md-list-item>
              <h1 md-line> {{commentForm.get('comment').value}}  </h1>
               <p md-line> {{commentForm.get('rating').value}} Stars</p>
               <p md-line><span>-- {{commentForm.get('author').value}}</span> </p>
             </md-list-item>
        </md-list>
        <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
          <p>
            <md-input-container class="full-width"
            dividerColor="{{(formError.author) ? 'warn' : 'primary'}}">
             
              <input mdInput placeholder="Name" type="text" 
              formControlName="author"
              required>
              <span [hidden]="!(formError.author)">
                {{ formError.author }}</span>
            </md-input-container>
          </p>
          
          <table>
            <td>
              <md-slider min="1" max="5" step="1" value="5" thumbLabel 
              tickInterval="1" formControlName="rating" ></md-slider>
            </td>
          </table>
          <p>
              <md-input-container class="full-width"
              dividerColor="{{( formError.comment) ? 'warn' : 'primary'}}">
                <textarea mdInput placeholder="Your Comment" type="text" 
                 rows="12" formControlName="comment" required>
                </textarea>
                <md-hint><span [hidden]="!(formError.comment)">
                  {{ formError.comment }}</span></md-hint>
              </md-input-container>
          </p>

          <p>
            <button md-button class="background-primary text-floral-white"
            type="submit"
            [disabled]="commentForm.invalid">Submit</button>
          </p>
        </form>
      </md-list>
       
  </div>

</div>